/*배경 색상*/
body {
    
    background-color: rgb(79, 87, 131);
}

/*메인 텍스트*/

.main_image_text {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate( -30%, -80% );
    color: white;
}

/*home*/

.main_image {
    position:relative;
    width: 85%;
    height: 50%;
    left: 200px;
    object-fit: cover;
}
/*하단바*/

.menu * {
    display:flex;
    height: 30px;
    align-items: center;
    color:#fff;
}

.menu li {
    margin: 65px;
    border-radius: 20px;
    padding: 10px;
 
   
}

.menu li a :hover{
    transition: all ease;
    display:block;
    height: 30px;
    width: 80px;
    border-radius: 30px;
    background-color:rgba(3, 51, 79, 0.848);
    opacity: 0.7;
    overflow: hidden;
}

.menu li a {
    color: rgb(231, 231, 237);
    text-decoration: none;
    text-align: center;
    
}

.menu ul {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate( -50%, -50% );
    cursor: pointer;
    text-decoration: none; 
    line-height: 1.5;
    
    
}
/*about*/
.intext {
    display:inline-block;
    font-size: small;
    color:white;
    margin-top: 50px;
    margin-right: 100px;
    padding-left: 80px;
    position:relative;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.me{
    float: left;
    margin-top: 130px;
    margin-left: 350px;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    
}
/*contact*/
a{
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    color: white;

}
.link {
    display:block;
    transform: translate( -750%, 3% );
    line-height: 200px;
    font-size: 24px;
    background-color: rgba(3, 51, 79, 0.848);
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
}
.lists{
    text-align: center;
    font-family: 'Pretendard-Thin';
    font-size: 18px;
    line-height: 1.5;
    font-style: italic;
    display: inline-block;
    margin-left: 50px;
    transform: translate( 20%, -220% );
    background-color: rgba(3, 51, 79, 0.848);
    color: #fff;
    border-radius: 20px;
    padding: 1px;
    box-sizing: border-box;
    
    
}

.list_img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    
    
}




